*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

header{
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
}

header > img{
    width: 75px;
    height: 53px;
    cursor: pointer;
}

header > ion-icon{
    font-size: 40px;
    cursor: pointer;
}

main{
    margin-top: 80px;
    padding-top: 26px;
    margin-bottom: 84px;
}

main > div{
    background-color: #FFFFFF;
    padding: 8px 8px;
    margin-bottom: 4px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.font700{
    font-weight: 700;
}

.fontColorGrey{
    color: #AAAAAA;
}

.bgVermelho{
    background-color: #FFDEDE;
}

.bgCinza{
    background-color: #DCDCDC;
}

footer{
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > input{
    font-weight: 400;
    font-size: 18px;
    border: 0px solid #000000;
    outline: none;
}

::placeholder{
    color: #000000;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #000000;
    font-style: italic;
  }
  
  ::-ms-input-placeholder {
    color: #000000;
    font-style: italic;
  }

footer > ion-icon{
    font-size: 30px;
    cursor: pointer;
}