*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

.escondido{
    display: none;
}

.entrada{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.entrada img:nth-child(1){
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.carregando{
    width: 90px;
    margin-top: 94px;
}

.entrada input{
    margin-top: 94px;
    text-align: center;
    width: 261px;
    height: 54px;
    border-radius: 4px;
    outline-style: none;
    border: 1px solid #D7D7D7;
    font-weight: 400;
    font-size: 18px;
}

::placeholder{
    color: var(--c, #AEAEAE);
    font-style: var(--f, normal);
}

.entrada button{
    margin-top: 15px;
    width: 109px;
    height: 45px;
    border-radius: 9px;
    color: #696969;
    background-color: #E7E7E7;
    border: 0px solid #000000;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}


header{
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
}

header > img{
    width: 75px;
    height: 53px;
    cursor: pointer;
}

header ion-icon{
    font-size: 40px;
    cursor: pointer;
}

main{
    margin-top: 80px;
    padding-top: 26px;
    margin-bottom: 84px;
}

main > div{
    background-color: #FFFFFF;
    padding: 10px 8px;
    margin-bottom: 4px;
    min-height: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.font700{
    font-weight: 700;
}

.fontColorGrey{
    color: #AAAAAA;
}

.bgVermelho{
    background-color: #FFDEDE;
}

.bgCinza{
    background-color: #DCDCDC;
}

footer{
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
}

.escrevaETextoInf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.textoInf{
    font-weight: 300;
    font-size: 14px;
    color: #505050;
    padding-left: 3px;
}

footer input{
    font-weight: 400;
    font-size: 18px;
    border: 0px solid #000000;
    outline: none;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

footer ion-icon{
    font-size: 30px;
    cursor: pointer;
}

.overlayPreto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.participantesBranco{
    position: fixed;
    top: 0;
    right: 0;
    width: 259px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    overflow: scroll;
    padding-bottom: 22px;
}

.escolheContato, .escolheVisibilidade{
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    max-width: 170px;
    margin: 22px auto;
    color: #000000;
    text-align: center;
}

.Todos, .publico, .reservadamente{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 18px;
}

.Todos{
    margin-bottom: 5px;
    position: relative;
}

.participantesOnline{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    row-gap: 5px;
}

.interiorParticipante{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.publico{
    position: relative;
}

.reservadamente{
    margin-top: 10px;
    position: relative;
}

.Todos ion-icon, .participantesOnline ion-icon, .publico ion-icon, .reservadamente ion-icon{
    font-size: 24px;

}

.Todos p, .participantesOnline p, .publico p, .reservadamente p{
    margin-left: 8px;
    font-weight: 400;
    font-size: 16px;
}

.checkVerdeVisibilidade, .checkVerdeDestinatario{
    position: absolute;
    bottom: 2px;
    right: 25px;
}

.checkVerdeVisibilidade ion-icon, .checkVerdeDestinatario ion-icon{
    color: #28BB25;
    font-size: 20px;
}